@font-face {
  font-family: "iconfont"; /* Project id 3496515 */
  src: url("iconfont.woff2?t=1660961420271") format("woff2"), url("iconfont.woff?t=1660961420271") format("woff"), url("iconfont.ttf?t=1660961420271") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiahao:before {
  content: "\e726";
}

.icon-jiahao2fill:before {
  content: "\e728";
}

.icon-jiahao1:before {
  content: "\eaf3";
}

.icon-chahao:before {
  content: "\e665";
}

.icon-close:before {
  content: "\e607";
}

.icon-shanchu2:before {
  content: "\e614";
}

.icon-sousuo1:before {
  content: "\e652";
}

.icon-tuichu2:before {
  content: "\e637";
}

.icon-labelb:before {
  content: "\e61a";
}

.icon-yonghu11:before {
  content: "\e639";
}

.icon-shangchuan1:before {
  content: "\e668";
}

.icon-shijian:before {
  content: "\e63a";
}

.icon-shijian-xianxing:before {
  content: "\e8c4";
}

.icon-sousuo11:before {
  content: "\e86e";
}

.icon-sousuo_o:before {
  content: "\eb86";
}

.icon-bianqian-:before {
  content: "\e61b";
}

.icon-shangchuan11:before {
  content: "\e693";
}

.icon-bianqian:before {
  content: "\e71a";
}

.icon-github:before {
  content: "\e673";
}

.icon-qizhi:before {
  content: "\e638";
}

.icon-yueliang:before {
  content: "\e6b8";
}

.icon-bianji:before {
  content: "\e602";
}

.icon-bianji1:before {
  content: "\e62b";
}

.icon-bianji2:before {
  content: "\e6b0";
}

.icon-tijiao:before {
  content: "\e664";
}

.icon-tuichu:before {
  content: "\e624";
}

.icon-tijiao1:before {
  content: "\e6b9";
}

.icon-tuichu1:before {
  content: "\e613";
}

.icon-upload:before {
  content: "\e635";
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-bianji3:before {
  content: "\e60d";
}

.icon-shanchu1:before {
  content: "\e60e";
}

.icon-shangchuan:before {
  content: "\e7c4";
}

.icon-jiantou1:before {
  content: "\e663";
}

.icon-xiangshangjiantou:before {
  content: "\e65f";
}

.icon-xiangxiajiantou:before {
  content: "\e660";
}

.icon-xiangyoujiantou:before {
  content: "\e661";
}

.icon-jinrujiantou:before {
  content: "\e88e";
}

.icon-screen-half_line:before {
  content: "\e6fc";
}

.icon-sousuo:before {
  content: "\e63d";
}

.icon-shezhi:before {
  content: "\e64b";
}

.icon-menu:before {
  content: "\e61f";
}

.icon-quanping:before {
  content: "\e62f";
}

.icon-fanyi:before {
  content: "\e6fb";
}

.icon-quanping1:before {
  content: "\e7cf";
}

.icon-quanping2:before {
  content: "\ee42";
}

.icon-caidan:before {
  content: "\e790";
}

.icon-paixing3:before {
  content: "\e60c";
}

.icon-moonbyueliang:before {
  content: "\e6a0";
}

.icon-ego-menu:before {
  content: "\e605";
}

.icon-jiaoyiliangzongpaixing:before {
  content: "\e748";
}

.icon-lingdang:before {
  content: "\e8c0";
}

.icon-hulianwang:before {
  content: "\e623";
}

.icon-jiantou:before {
  content: "\e62c";
}

.icon-paixu:before {
  content: "\e634";
}

.icon-huojian:before {
  content: "\e689";
}

.icon-xiangce:before {
  content: "\e7be";
}

.icon-icons_notifications:before {
  content: "\e628";
}

.icon-yonghu1:before {
  content: "\e6c9";
}

.icon-shoucang:before {
  content: "\e8c6";
}

.icon-shandian:before {
  content: "\e746";
}

.icon-arrowRight:before {
  content: "\e65d";
}

.icon-xiaoxi:before {
  content: "\e63e";
}

.icon-qingtian:before {
  content: "\e633";
}

.icon-a-diqiuwangluohulianwang:before {
  content: "\e666";
}

.icon-lianjie:before {
  content: "\e600";
}

.icon-jinggao:before {
  content: "\e601";
}

.icon-7:before {
  content: "\e606";
}

.icon-xie:before {
  content: "\e61c";
}

.icon-lianjie1:before {
  content: "\e6c8";
}

.icon-yonghu:before {
  content: "\e626";
}

.icon-shouye:before {
  content: "\e65e";
}

.icon-write:before {
  content: "\e612";
}

.icon-jinggao1:before {
  content: "\e662";
}

.icon-xiepinglun:before {
  content: "\e667";
}

.icon-shouye1:before {
  content: "\e8b9";
}

.icon-jinggao2:before {
  content: "\e656";
}

.icon-diannao:before {
  content: "\e625";
}
